{% include "base.html.twig" %}
{% block body %}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  </head>

  <style>
    body, html {
      height: 100%;
    }

    .bg {
       /* The image used */
       background-image: url("https://i.ibb.co/fq9fgk8/achtergrond.png");
       /* Full height */
       height: 100%;
       /* Center and scale the image nicely */
       background-position: center;
       background-repeat: no-repeat;
       background-size: cover;
     }
  </style>
  <body>

  <div class="bg">
  <div class="position-relative overflow-hidden text-center" style="color: white;">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <div class="yeet" style="margin: 150px 0 0 10px">
      <h1 class="display-4 font-weight-normal">La Casserai</h1>
      <p class="lead font-weight-normal">The juan and only</p>
      </div>
    </div>
    <div class="product-device box-shadow d-none d-md-block"></div>
    <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
  </div>
  </div>
  <div class="album py-5 bg-light">
    <div class="position-relative overflow-hidden p-1 p-md-1 m-md-3 text-center bg-light" id="yeet">
      <div class="col-md-3 p-lg-3 mx-auto my-3">
        <h2 class="font-weight-normal">Popular rooms</h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% for room in room %}
          {% if room.is_popular == 1 %}
        <div class="col-md-6">
          <div class="card mb-4 box-shadow">
            <img class="card-img-top" src="{{ vich_uploader_asset(room, 'imageFile') }}" alt="Card image cap">
            <div class="card-body">
              <p class="card-text">Naam van de kamer: {{ room.room_name }}<br/>
              Prijs van de kamer: €{{ room.room_price }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-outline-secondary" href="/tobooking/{{ room.id }}">Book</a>
                </div>
                <small class="text-muted">Personen: {{ room.room_person_amount }}</small>
              </div>
            </div>
          </div>
        </div>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="../../assets/js/vendor/popper.min.js"></script>
  <script src="../../dist/js/bootstrap.min.js"></script>
  <script src="../../assets/js/vendor/holder.min.js"></script>

  </body>
{% endblock %}
